*
{
    margin: 0px;
    padding: 0px;
}

#demColorsThou
{
    background: darkgreen;
}

.nothingToSeeHere
{
    background-color: darkred;
    position: relative;
}

.iAccidentallyTheLinkIsThatBad
{
    background-color: rgb(0, 139, 53);
    position: relative;
}